/*!*************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./app/globals.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************/
/* 2025 viewport-safe full-height layout */
html, body, #__next {
  height: 100%;
}
html, body {
  margin: 0;
}
body {
  min-height: 100dvh; /* dynamic viewport height (mobile safe) */
  overflow: hidden;    /* prevent browser scroll; use internal scrolls */
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background: #0b0c10;
}

* {
  box-sizing: border-box;
}

